<div>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Percentage columns
    </Divider>
    <Row>
        <Col Flex="2">2 / 5</Col>
        <Col Flex="3">3 / 5</Col>
    </Row>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Fill rest
    </Divider>
    <Row>
        <Col Flex="@("100px")">100px</Col>
        <Col>auto</Col>
    </Row>
    <Divider Orientation="left" Style="color: #333; font-weight:normal">
        Raw flex style
    </Divider>
    <Row>
        <Col Flex="@("1 1 200px")">1 1 200px</Col>
        <Col Flex="@("0 1 300px")">0 1 300px</Col>
    </Row>
</div>


@code{

}